.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle{
    height: auto;
}

.board {
    margin: 5px;
}

.card {
    margin: 10px;
}

.notmatched{
    opacity: 0.2;
}