.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle{
    height: auto;
}

.board {
    margin: 5px;
}

.card {
    margin: 10px;
    box-shadow: none;
}

.notmatched {
    opacity: 0.2;
}

.card-button {
    opacity: 0.4;
}
.card-button:hover {
    opacity: 1;
}

.logo {
    height: 64px;
}