.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle{
    height: auto;
}

.board {
    margin: 5px;
}

.card {
    margin: 10px;
    box-shadow: none;
}

.notmatched {
    opacity: 0.2;
}

.card-button {
    opacity: 0.55;
}
.card-button:hover {
    opacity: 1;
}

.logo {
    height: 64px;
}

.toastmatch {
    background: #4db6ac;
}

.toastnotmatch {
    color: black;
    background: #e6ee9c;
}

.collapsedboard {
    display: none;
}

.autocompleteimg {
    max-width: auto;
    max-height: 70px;
}