body {
    font-family: Arial;
    color: white;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: rgb(159, 228, 211);
}

.right {
    right: 0;
    background-color: rgb(255, 242, 126);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

table, td, th {
    border: 1px solid black;
    vertical-align: middle;
    text-overflow: ellipsis;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th {
    height: 50px;
}

.hidden {
    visibility: hidden;
}